<section class="customersreview">
    <h2 hidden>Customers Review</h2>
    <div class="conteiner">
        <div class="comentary-slider">
            <div class="comentary-slider__item">
                <img class="customers-photo" src="" alt="">
                <p class="customers-comentary">I love visiting your cafe.
                    You prepare the most delicious ice cream in Los Angeles!
                    In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                <p class="customers-meta">Emily, Los Angeles</p>
            </div>
        </div>
    </div>
</section>
 
